# Build results
bin/
obj/
publish/
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Test results
TestResults/
*.trx
*.coverage
coverage*.json

# NuGet
*.nupkg
packages/

# Logs
*.log

# OS
Thumbs.db
Desktop.ini
